.logo{
    height: 120px;
    border-radius:100px ;
    padding: 20px;
}

#logo_div{
    background-color: purple;

}

#login_div{
    background-color: lightblue;
}

button{
    width: 3cm;
    font-size: large;
    color: white;
    background-color: maroon;
}
body{
    background-color: lightseagreen;
}

.ee{
    height: 100%;
    width: 100%;
}

.page_logo{
    height: 100px;
    width: 120px;

}

.yu{
    color: aliceblue;
    font-weight: 750;
}

.y{
    color: white;
}